#dashboard.container
  h1 Builds
  ul#builds
    - each instruction in instructions
      li
        article.instruction
          ul.data
            li.avatar
              - if (instruction.last_build)
                img(src=instruction.last_build.gravatar_of_size(50), width="50")
              - else
                img(src="/images/avatar.png", width="50")

            li.title
              h1= instruction.name

            li.lastfailure last failure:
              - if (instruction.last_failure)
                strong
                  a(href=instruction.last_failure.permalink)= '#' + instruction.last_failure.__id__ + ' ('+instruction.last_failure.duration+')';
              - else
                strong Never

            li.lastsuccess last success:
              - if (instruction.last_success)
                strong
                  a(href=instruction.last_success.permalink)= '#' + instruction.last_success.__id__ + ' ('+instruction.last_success.duration+')';
              - else
                strong Never

          ul.menu
            li.output
              a(href="#") Show output

            li.build
              a(href="#", emerald-action="run", rel=instruction.__id__) Build Now

          ol.buildlog
            - each build in instruction.all_builds
              li(class=build.status == 0 ? "success" : "failure")= "#" + build.__id__ + " &mdash; " + build.message;
