append body
  include modals/new-project.jade

.container
  - if (!has_instructions)
    h1.failed There are no instructions :(
    h3 But you can still create a new one above
  - else
    h1 Build Instructions

    - each instruction in instructions
      .row(data-instruction-id=instruction.__id__)
        .span16
          .alert-message.block-message
            .row
              .span6
                h2= instruction.name
                - each paragraph in instruction.description.split(/[\r\n]/)
                  p= paragraph

                .alert-actions
                  a.btn.small.danger(href="#", emerald-action="run", emerald-entity="BuildInstruction", rel=instruction.__id__) Schedule build
              .span9
                p: strong Repository Address
                p= instruction.repository_address

                - if (instruction.total_builds == 0)
                  p.last-build Never built :(
                - else
                  p: strong= "Was built " + instruction.total_builds + " times"

  button.btn.success.large.clay.BuildInstruction.create(data-controls-modal="new-build") Create an instruction