.container
  h1 Create a new user
  .row
    .span12
      div.form
        form(method="post")
          fieldset
            .clearfix
              label(for="name") name
              .input
                input#name(type="text", name="name")

            .clearfix
              label(for="email") email
              .input
                input#email(type="text", email="email")

            .clearfix
              label(for="password") password
              .input
                input#password(type="password", password="password")

            p.button
               input.info.btn#create(type="submit", name="create", value="create")

- if (has_users)
.container
  hr
  h1 Existing Users

  table.bordered-table.zebra-striped
    thead
      tr
        th #id
        th gravatar
        th name
        th email
        th actions
    tbody
      - each user in users
        tr
          td= "#" + user.__id__
          td: img(src=user.gravatar_of_size(35))
          td= user.name
          td= user.email
          td
            - var alt_edit = "Edit user #" + user.__id__
            - var alt_delete = "Delete user #" + user.__id__

            a.btn.info.edit.clay.User.edit(href=user.permalink, rel=user.__id__) Edit
              img(src="/images/ico_edit.png", width=16, height=16, alt=alt_edit)

            a.btn.danger.clay.User.delete(href="#", rel=user.__id__) Delete
              img(src="/images/ico_stop.png", width=16, height=16, alt=alt_delete)
